* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #050505;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
}

ul {
    list-style: none;
}